.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(190, 77, 77);
    margin-left: 500px;
    margin-right: 500px;
}

h1 {
    background-color:rgb(136, 36, 36);
    padding: 10px;
    margin-top: 10px;
}

button {
    display: flex;
    align-self: center;
    background-color: rgb(255, 207, 77);
    text-decoration-color: black;
    font-size: 15px;
    border-radius: 7px;
}

.reminder-container {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: white;
    align-self: center;
    border-radius: 5px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}